



* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(25, 60, 156);
    background-color: rgb(101, 102, 102);
}

header {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background-color:rgb(25, 60, 156);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(238, 238, 238);
    
}

header h1 {
    font-size: 50px;
    display: flexbox;
    text-align: center;
    
}

header nav {
    padding-top: 10px;
    margin-right: 40px;
    font-size: 25px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-size: 40px;
}

header nav ul li a {
    display: flexbox;
    margin-left: 30px;
    list-style-type: none;
    float: right;
    background-color: rgb(25, 60, 156);
    color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    background: rgb(25, 60, 156);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%; 
    color: white;
}


.hero {
    background-image: url("../Portfolio-Work-Sample/images/hero4.jpg");
    height: 300px;
    background-size: cover;
    background-position: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
}

.herobox {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    padding: 80px;
    right: 120px;
    bottom: 140px;
    display: flex;
    width: 70%;

}

.container {
    width: 40%;
    flex-wrap: wrap;
    padding: 55px;
    display: flex;
    margin: auto;
  }

  .container img {
      border: 4px solid rgb(0, 0, 0);
      flex-wrap: wrap;
      display: flexbox;
  }
    
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .bottom {
    opacity: 1;
  }

  .content {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.content-info {    
   display: flex;
   margin: auto;
   justify-content: space-between;
   }


.about-me, .my-work, .contact {
    margin: 20px;
    flex: 1;
    background: rgb(25, 60, 156);
    color: #ffffff;
    flex-wrap: wrap;

    
}

.about-me img, .contact img {
    max-height: 200px;
}

.my-work img {
    max-width: 40%;
    max-height: 70%;
    flex-wrap: wrap;
    display: flex;
    padding: 20px 15px;
    justify-content: center;
    margin: auto;
}



.about-me h2, .contact h2 {
    font-size: 52px; 
}

.my-work h2 {
    font-size: 52px;
    text-align: center;
}


@media screen and (max-width: 7000px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }
     header h1 {
         width: 100%;
         text-align: center;
     }
 
     header nav ul {
         margin-top: 20px;
         width: 100%;
         justify-content: center;
     }
 
     header nav ul li a {
         font-size: 20px;
     }
 
     footer h2, footer div, footer {
         text-align: center;
         width: 100;
     }

    }


@media screen and (max-width: 900px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }
     header h1 {
         width: 100%;
         text-align: center;
     }
 
     header nav ul {
         margin-top: 20px;
         width: 100%;
         justify-content: center;
     }
 
     header nav ul li a {
         font-size: 20px;
     }
 
     footer h2, footer div, footer {
         text-align: center;
         width: 100;
     }
    }
 
     
    @media screen and (max-width: 580x) {
        header {
            padding-bottom: 0;
            justify-content: center;
        }
         header h1 {
             width: 100%;
             text-align: center;
         }
     
         header nav ul {
             margin-top: 20px;
             width: 100%;
             justify-content: center;
         }
     
         header nav ul li a {
             font-size: 20px;
         }
     
         footer h2, footer div, footer {
             text-align: center;
             width: 100;
         }
     }
